

<div class="mainnav container">
  <%= link_to 'Sunglasses Eshop', products_path, :class=>'left' %>
  <%= link_to 'My Cart', {:controller => :cart, :action => :index}, :style=>'float: right;', :class => 'right' %>
</div>

